{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAHENDRA SINGH DHONI</title>
    <link rel="stylesheet" href="{% static 'css/one.css' %}">
</head>
<body>
    <center>
        <h1>MAHENDRA SINGH DHONI</h1>
        <h2>GREATEST INDIAN CAPTAIN</h2>
        <img src="{% static 'images/msd.jpeg' %}" alt="">
        <img src="{% static 'images/msd wc2011.jpeg' %}" alt="">
    </center>
</body>
</html>